<div id="announcements"><table>
  <tr>
    <th><%= link_to "Message", :sort => "message" %></th>
    <th><%= link_to "Starts at", :sort => "starts_at" %></th>
    <th><%= link_to "Ends at", :sort => "ends_at" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.message %></td>
        <td><%= announcement.starts_at %></td>
        <td><%= announcement.ends_at %></td>
        <td><%= link_to 'Show', announcement %></td>
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>
<%= will_paginate @announcements %>

</div>